body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 1rem 0;
}

header a {
    color: white;
    text-decoration: none;
    padding-right: 1rem;
}

header a:hover {
    color: #ccc;
}

.hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 2rem 0;
    background-color: #555;
    color: aliceblue;
    margin-top: 0;
}

h3 {
    text-align: center;
}

.cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

.card {
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    border-radius: 5px;
}

.inputContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 2rem;
}

input, select {
    width: 90%;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.messageInput {
    height: 3rem;
}

button {
    padding: 0.5rem 1rem;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 1rem;
    margin-left: 1rem;
}

button:hover {
    background-color: #555;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #333;
    padding: 1rem 0;
}

footer a {
    color: white;
    text-decoration: none;
    padding: 0.25rem 0;
}

footer div {
    padding: 0.5rem 0;
}

footer a:hover {
    color: #ccc;
}

h4 {
    margin-bottom: 1rem;
    margin-left: 1rem;
}